/TeamFinalProject/nbproject/private/
/TeamFinalProject/build/
/TeamFinalProject/dist/
/WolframSampleProgram/nbproject/private/
/WolframSampleProgram/build/
/SampleProgram/nbproject/private/
/SampleProgram/build/